*{
    box-sizing: border-box;
}
.navBar{
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 0;
}
.iconNavBar{
    position: absolute;
}
.navForm{
    margin: -1%;
}
.divMessage{
    margin-top: 100px;
    padding: 10px;
    background:green;
    color:#fff;
    z-index: 3000;
}
.divMessageOnePost{
    margin-top: 100px;
    margin-bottom: -100px;
    padding: 10px;
    background:green;
    color:#fff;
    z-index: 3000;
}
#imgCardPost{
    height: 150px;
    width: 150px;
}

.btnFormPost{
    margin-top: 140px;
    text-align: center;
    width: 200px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 2%;
    z-index: 1000;
}

.formPost{
    margin: 5%;
}
.photoLink2{
    width: 150px;
    margin: 1%;
}
.photoLink3{
    width: 150px;
    margin: 1%;
}
.signup {

    margin-top: 150px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px white;
    background-color: white;
    border-radius: 5px;
    height: 320px;
    box-shadow: 10px 10px 10px 10px #aaa;
}


.ingreser form{
    margin: 10%;
    background-color: white; 
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #aaa;
}
.ingreser form button{
    margin-top:20px;
    
}
.ingreser input{
    margin-bottom:20px;
}
.presentation{
    width: 200px;
    margin: 100px 300px;
    
}


.card-img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}
.up {
    text-align: center;
    padding-top: 10px;
}
.ups {
    text-align: center;
    padding-top: 10px;
}
.liked {
    text-align: center;
    padding-top: 10px; 
    color: rgb(231, 68, 9);
}


.commentaires {
    background-color: rgb(227, 226, 235); 
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
}

.nblike{

    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin: 5px;

} 

.produit{
    border-radius: 15px;
    padding: 1%;
    }
.produit a{
        color: black;
        text-decoration: none;
        }  

.produit:hover {
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px #aaa;

}
.imgPerfil{
    height: 200px;
    width: 200px;
}

.btnClick:active {
    font-size: 30px;
   
}
#postIndex{
    position: relative;
    z-index: 1000;
    margin: 10%;
}
.truncateText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 350px;
  }


/* carousel */
#owl-demo .item{
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  
  /* to remove s.truncateText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 350px;
  }animation-duration : 0 ms  !important;
        animation-duration : 0 ms  !important;
        -webkit-animation-fill-mode : both  !important;
        animation-fill-mode : both  !important;
      }  
      
      
      .fadeOut  {
        -webkit-animation-name : fadeOut  ;
        animation-name : fadeOut  ;
      }  
      @-webkit-keyframes  fadeOut  {
        0% {
          opacity : 0   ;
        }  
        100% {
          opacity : 0   ;
        }  
      }
      @keyframes  fadeOut  {
        0% {
          opacity : 0   ;
        }  
        100% {
          opacity : 0   ;
        }  
      }


@media only screen and (max-width: 480px){
    #postIndex{
        margin-top: 35%;
    }
    #imgCardPost{
        margin-left: 27vw;
    }
    #imgOnePost{
        width: 220px;
        height: 180px;
        margin-left: 15vw;
    }

}
@media only screen and (max-width: 549px) and (min-width: 481px) {
    #postIndex{
        margin-top: 20%;
    }
    #imgCardPost{
    margin-left: 30vw;
    }
    #imgOnePost{
        width: 250px;
        height: 220px;
        margin-left: 20vw;

    }
}
@media only screen and (max-width: 770px) and (min-width: 550px) {
    #imgOnePost{
        width: 250px;
        height: 220px;
        margin-left: 25vw;

    }
}
@media only screen and (min-width: 771px) {
    #postIndex{
        margin-top: 10%;
    }
    #imgOnePost{
        width: 350px;
        height: 320px;
        margin-left: 30vw;
    }
}


@media only screen and (max-width: 760px){
    .navBtn{
        margin-bottom: 3%;
    }
    .divMessage{
        margin-top: 120px;
    }
}
.truncateText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 350px;
  }